@tailwind base;
@tailwind components;
@tailwind utilities;

/* RTL Support */
[dir="rtl"] {
  text-align: right;
}

* {
  font-family: "Nunito Sans", sans-serif !important;
}

[dir="rtl"] .rtl\:space-x-reverse > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
}

[dir="ltr"] {
  text-align: left;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#sideBar {
  width: auto;
  overflow: hidden;
  transition: 0.8s;
  margin-right: auto;
  height: 100vh;
  margin-top: 14px;
  border-top-left-radius: 0
}

#sideBar .NonActive {
  @apply flex items-center gap-10 w-full;
}

/* #sideBar .listTitle {
  visibility: hidden;
} */

#sideBar .iconColor {
  color: #10aded;
}

/* #sideBar:hover {
  width: 21.5vw;
  transition: 0.5s;
} */

.Active {
  @apply bg-white text-black rounded flex items-center p-3 gap-10 w-full;
}

/* #sideBar:hover .listTitle {
  visibility: visible;
} */

/* #sideBar:hover .iconColor {
  color: inherit;
} */

#sideBar ul {
  @apply w-64 p-4 flex flex-col gap-4;
}

#sideBar ul li {
  @apply gap-10;
}

#sideBar ul li a {
  padding: 0.5rem 0.25rem;
}

#sideBar ul li .icon-[tabler--logout-2] {
  color: red;
}

#bcg {
  padding: 40px;
}

.AccDetails {
  @apply flex items-center justify-between;
}

/* Mobile styles */
@media (max-width: 767px) {
  #sideBar {
    width: 100%;
    overflow: visible;
  }

  header {
    margin-top: 12vh;
  }

  #sideBar .NonActive,
  #sideBar .Active {
    @apply flex items-center gap-4 w-full p-3;
  }

  /* #sideBar .listTitle {
    visibility: visible;
  } */

  #sideBar ul {
    @apply w-full gap-4;
  }

  #sideBar ul li {
    @apply w-full;
  }

  /* Reset hover styles for mobile */
  /* #sideBar:hover {
    width: 100%;
  } */

  /* #sideBar:hover .Active {
    @apply bg-transparent text-white;
  } */

  #sideBar ul li a:hover,
  #sideBar ul li a.active {
    background-color: white;
    color: black;
  }

  #sideBar ul li a:hover .iconColor,
  #sideBar ul li a.active:not(:hover) .iconColor {
    color: #ff9d03;
  }
}

#sideBar ul li a:hover {
  background-color: white;
  color: black;
}

#sideBar ul li a:hover .iconColor {
  color: black;
}

#sideBar ul li a.active:not(:hover) .iconColor {
  color: #ff9d03;
}

input {
  border: none;
}

.bg-dark-gradient {
  @apply min-h-screen bg-gradient-to-b from-[#0a0e1a] via-[#0f1420] to-[#0a0e1a];
}
